nav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  nav a:hover {
    color: #f1f1f1;
  }
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  header {
    display: flex;
    flex-direction: row-reverse ;
    border-bottom: 2px dashed black;
 }
 .header{
     padding: 5px;
     border: 2px solid blue;
     border-radius: 5px;
     margin-bottom: 5px;
 }
 .header:hover{
     background-color: red;
 }
 .bt2{
    display: flex;
    justify-content: flex-end;
}
.bt2 button{
    border-radius: 5px;
}
