header {
   display: flex;
   flex-direction: row-reverse ;
   border-bottom: 2px dashed black;
}
.header{
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 5px;
}
.header:hover{
    background-color: red;
}
table {
    border-collapse:collapse;
    margin-top: 2em;
    display: flex;
    justify-content: center;

}
 tr, td{
    border: 2px solid black;
}
.bt2{
    display: flex;
    justify-content: flex-end;
}
.bt2 button{
    border-radius: 5px;
}
.pname{
   display: flex;
   justify-content: center;
}
.pname h2{
    border-bottom: 2px solid black;
}